@charset "utf-8";

/* 共通 */
*,*::before,*::after {
    box-sizing: border-box;
}

* {
    list-style: none;
    margin: 0;
}

/* スマホ対応--------------------------------------- */

main {
    min-height: 100vh;
    background-color: aliceblue;
}

.title {
    text-align: center;
    padding-top: 3rem;
}

.title h1  {
    font-size: 1.5rem;
}

.evaluation {
    margin: 2rem 5% 2rem 5%;
}

.evaluation h2 {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.name {
    margin: 2rem 5% 2rem 5%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.namemini {
    text-align: left;
    width: fit-content;
}

.start {
    text-align: center;
    margin-top: 3rem;
}

.button {
    text-decoration: none;
    background-color: rgb(53, 53, 233);
    padding: .2rem 1rem;
    color: azure;
}

.button:hover {
    background-color: rgb(24, 24, 107);   
}
